body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(158, 158, 156);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(251, 251, 251);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.adclass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aa {
  margin-top: 20%;
}

.zwei {
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media print {
  body .pr {
    display: none;
  }
  .pri {
    display: block;
  }
  #print {
    display: none;
  }
  #print-button {
    display: none;
  }
  #first {
  height: max-content;
  width: 100%;
  margin-top: 15px;
}
.hea {
  background-color: lightblue;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}
}

.image-circle {
  border-radius: 50%;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

.w {
  width: 180px;
}

img {
  position: absolute;
  top: 18%;
}

@media all and (max-width: 700px) {
  img {
    position: static;
    margin-top: 20px;
  }
  #first {
  height: max-content;
  width: 100%;
  margin-top: 15px;
}
}

.wc {
  position: absolute;
  left: 90%;
}

.hea {
  background-color: lightblue;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

.tp {
  background-color: lightblue;
}

.khl {
  color: black;
}

#fon {
  font-family: 'Caveat', cursive;
  color: blueviolet;
}

